@import '../../../styles/variables';

.login-myung {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: var(--all_background_color);
  box-sizing: border-box;

  .login-top {
    display: flex;
  }

  .side-img {
    position: relative;

    margin-bottom: 120px;

    .side-img-screen {
      position: absolute;
      top: 99px;
      left: 150px;
    }
  }

  .login-container {
    margin-bottom: 100px;
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 448px;
    width: 350px;
    margin-bottom: 15px;
    padding: 30px 37px 20px 37px;
    background-color: #fff;
    border: 1px solid var(--login_input_border_color);

    h1 {
      font-family: cursive;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: 800;
    }

    .login-input {
      input {
        display: flex;
        flex-direction: column;
        width: 265px;
        height: 38px;
        margin-top: 7px;
        border-radius: 5px;
        border: 1px solid var(--login_input_border_color);
        padding: 7px;
        background-color: var(--login_input_background_color);

        &:focus {
          outline: none;
        }
      }
    }

    .not-disabled {
      cursor: pointer;
    }

    .login-button {
      width: 281px;
      height: 38px;
      margin-top: 12px;
      background-color: var(--login_button_color);
      border: none;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      background-color: #0095f6;

      &:disabled {
        opacity: 0.3;
      }
    }

    .login-bar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      color: #8c8c8c;
      font-size: 13px;

      .login-bar {
        width: 100px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }
    .login-footer {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin-top: 20px;

      button {
        margin-bottom: 30px;
        font-size: 18px;
        border: none;
        background-color: inherit;
        color: var(--login_facebook_text_color);
      }

      a {
        font-size: 12px;
        color: rgb(0, 55, 107);
        text-decoration: none;
      }
    }
  }

  aside {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      width: 426px;
      font-size: 15px;
      background-color: #fff;
      border: 1px solid #dbdbdb;
    }

    span {
      &:last-child {
        margin-left: 10px;
        color: var(--login_register_text_color);
      }
    }
  }

  .store {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    img {
      margin: 10px 5px;
      width: 128px;
      height: 38px;
    }
  }

  .login-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    p {
      color: #8e8e8e;
      margin-bottom: 20px;
    }

    span {
      color: #8e8e8e;
    }
  }
}

@include tablet {
  .login-myung .side-img {
    display: none;
  }
}

@include mobile {
  .login-myung .side-img {
    display: none;
  }

  .login-myung .login-bottom {
    display: none;
  }
}
