@import '../../../styles/variables';

body {
  background-color: var(--background_color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  margin: 3rem 0 0.5rem 0;
  border: 1px solid var(--section_border_color);
  background-color: var(--section_color);
}

.login-title {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

input {
  width: 18rem;
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid var(--input_border_color);
  border-radius: 0.3rem;
  background-color: var(--input_background_color);
  font-size: 0.7rem;
}

.login-id {
  margin-bottom: 0.5rem;
}

.login-button {
  width: 19rem;
  height: 2.5rem;
  margin: 1rem;
  border: 0;
  border-radius: 0.2rem;
  font-size: 0.5rem;
  font-weight: 800;
  color: #ffffff;
  background-color: var(--login_button_color);
  cursor: auto;
}

.login-button.active {
  background-color: #323ad1;
  cursor: pointer;
}

.login-divide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
  margin-bottom: 1rem;
  color: var(--login_divide_font_color);

  .login-divide-line-first,
  .login-divide-line-second {
    width: 40%;
    border: 1px solid var(--divide_line_color);
  }
}

.login-social-app,
.login-forget-password {
  margin: 0.5rem;
  color: var(--facebook-text_color);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

.login-forget-password {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 23rem;
  height: 4rem;
  border: 1px solid var(--section_border_color);
  background-color: var(--section_color);

  > a {
    margin-left: 1vmin;
    color: var(--register-text_color);
    font-weight: 700;
    text-decoration: none;
  }
}

.mobile-download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  > p {
    margin-bottom: 1.5rem;
  }

  .download-container-icons > img {
    width: 9rem;
    cursor: pointer;
    margin: 0 0.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: var(--footer_text_color);
  font-size: 0.8rem;

  .footer-upper-deck {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 1rem;
      list-style: none;
    }
  }

  .footer-lower-deck {
    > select {
      margin-right: 2rem;
      border: 0;
      color: var(--footer_text_color);
    }
  }
}
