@import '../../../styles/variables';

.main-myung {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    b {
      font-weight: 700;
    }
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-top: 7px;
    background-color: var(--all_background_color);

    .feeds-container {
      display: flex;
      justify-content: space-between;
      height: 1500px;
      width: 935px;

      .feeds {
        max-width: 615px;

        .story {
          height: 110px;
          margin: 25px 0;
          padding: 16px 0;
          background-color: #fff;
          border: 1px solid #dbdbdb;
        }

        ul {
          display: flex;
          overflow: hidden;

          li {
            margin-left: 11px;
            margin-right: 11px;
            z-index: 1;

            .profile-container {
              display: flex;
              flex-direction: column;
              height: 90px;
              width: 60px;

              .profile-wrapper {
                float: left;
                width: 60px;
                height: 60px;
                position: relative;

                .profile-gradation-animate {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  background: linear-gradient(
                      238deg,
                      rgba(201, 45, 141, 1) 0%,
                      rgba(249, 156, 76, 1) 100%
                    ),
                    no-repeat;
                  animation: spin 1s linear infinite;
                }

                .profile__image-wrapper {
                  position: relative;
                  top: 3px;
                  left: 3px;
                  width: 54px;
                  height: 54px;
                  overflow: hidden;
                  border-radius: 50%;

                  .profile__image-small-wrapper {
                    position: absolute;
                    top: -100%;
                    left: -100%;
                    right: -100%;
                    bottom: -100%;
                    height: 100px;
                    margin: auto;
                    min-width: 100%;
                    min-height: 100%;
                    background-color: #fff;
                    z-index: 1;
                  }

                  img {
                    position: relative;
                    top: 3.4%;
                    left: 3.7%;
                    height: 51px;
                    width: 51px;
                    z-index: 2;
                    border-radius: 50%;
                  }
                }
              }
            }

            span {
              margin-top: 5px;
              margin-left: 8px;
              font-size: 12px;
            }
          }
        }
      }

      .contents {
        margin-bottom: 40px;
        border: 1px solid #dbdbdb;
        background-color: var(--all_section_background_color);
        .contents__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          padding: 17px;
          font-size: 12px;

          div {
            display: flex;
            align-items: center;

            .contents__profile-image {
              height: 31px;
              width: 31px;
              border-radius: 50%;
            }

            span {
              margin-left: 12px;
              font-weight: 700;
              font-size: 14px;
            }
          }
        }

        .contents__image {
          height: 620px;
          width: 100%;
        }

        .contents__icons {
          display: flex;
          justify-content: space-between;
          margin: 10px;

          span {
            font-size: 24px;
            margin: 9px;

            button {
              background-color: #fff;
              border: none;

              i {
                font-size: 24px;
              }

              .btn-empty {
                -webkit-text-stroke: 2px #000;
                -webkit-text-fill-color: transparent;
              }
              .btn-like {
                color: red;
              }
            }
          }
        }

        .contents__feedback {
          display: flex;
          align-items: center;
          margin-left: 15px;
          font-size: 14px;

          div {
            margin-left: 5px;

            .contents__small-image {
              height: 20px;
              width: 20px;
              border-radius: 50%;
            }
          }
        }

        .contents__info {
          margin-top: 15px;
          margin-left: 15px;
          margin-bottom: 10px;
          font-size: 14px;
        }

        .more {
          color: #b8b8b8;
        }

        .modal-box {
          margin-left: 15px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: #999999;
            font-size: 15px;
          }
        }

        .modal-background {
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(14, 13, 13, 0.3);
          z-index: 100;

          .modal {
            display: flex;
            position: absolute;
            height: 600px;
            width: 935px;
            background-color: rgb(165, 33, 33);

            .modal-image {
              width: 60%;
              background-color: #fff;

              img {
                width: 560px;
                height: 600px;
              }
            }

            .modal-container {
              width: 40%;
              background-color: #fff;

              .profile-img-background {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                margin-left: 10px;
                border-radius: 50%;
                background: linear-gradient(
                    238deg,
                    rgba(201, 45, 141, 1) 0%,
                    rgba(249, 156, 76, 1) 100%
                  ),
                  no-repeat;
                animation: spin 1s linear infinite;

                .small-profile-img-background {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 34px;
                  height: 34px;
                  background-color: #fff;
                  border-radius: 50%;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                  }
                }
              }
              .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 75px;
                border-bottom: 1px solid #dbdbdb;

                div {
                  display: flex;
                  align-items: center;

                  b {
                    margin-left: 7px;
                    color: black;
                    font-weight: 700;
                  }
                }

                i {
                  margin-right: 20px;
                  color: black;
                  font-size: 12px;
                }
              }

              .modal-comment {
                height: 360px;
                overflow-y: scroll;
                padding-top: 20px;
                padding-left: 5px;
                padding-right: 10px;
                width: 100%;
                border-bottom: 1px solid #dbdbdb;

                .modal-info {
                  display: flex;
                  padding: 0;
                  .modal-img-container {
                    width: 40px;
                    margin-right: 15px;
                  }
                  .img-background {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                  }
                  span {
                    font-size: 14px;
                    color: black;
                    b {
                      margin-left: 7px;
                      margin-right: 7px;
                      color: black;
                      font-weight: 700;
                      font-size: 15px;
                    }
                    .hash-tag {
                      color: #22427e;
                    }

                    span:last-child {
                      font-size: 14px;
                      color: #b8b8b8;
                    }
                  }
                }
                .modal-comments {
                  display: flex;
                  align-items: center;

                  .img-background {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 43px;
                    margin-right: 10px;
                  }
                  ul {
                    flex-direction: column-reverse;
                    width: 100%;

                    li {
                      display: flex;
                      margin-right: 5px;
                      margin-left: 0px;
                      margin-top: 20px;
                      font-size: 14px;
                      color: black;

                      .profile-img-background {
                        margin-right: 10px;
                        width: 44px;
                      }

                      img {
                        height: 30px;
                        width: 30px;
                      }

                      b {
                        margin-right: 5px;
                      }

                      button {
                        margin-left: 10px;
                        border: none;
                        background-color: #fff;
                      }
                    }
                  }
                }
              }

              .modal-icon {
                height: 100px;
                border-bottom: 1px solid #dbdbdb;
                color: black;

                .modal-icon-container {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 10px;
                  font-size: 30px;

                  & :first-child {
                    span {
                      margin-left: 10px;
                    }
                  }
                  .book-mark {
                    span {
                      margin-right: 10px;
                    }
                  }
                }

                .modal-icon__info {
                  margin-left: 10px;
                  div {
                    font-size: 15px;
                    margin-top: 10px;

                    div &:last-child {
                      font-size: 12px;
                      color: gray;
                    }
                  }
                }
              }

              form {
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div {
                  display: flex;
                  justify-content: space-between;
                  color: black;
                  i {
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 25px;
                  }
                  input {
                    width: 280px;
                    border: none;

                    &:focus {
                      outline: none;
                    }
                  }
                }
                button {
                  margin-right: 10px;
                  border: none;
                  background-color: #fff;
                  color: #0095f6;
                }
              }
            }
          }
        }

        .comment-container {
          margin-left: 15px;
          font-size: 14px;
          ul {
            display: flex;
            flex-direction: column;

            li {
              width: 100%;
              margin-bottom: 5px;
              margin-right: 10px;
              margin-left: 0px;

              b {
                margin-right: 5px;
                font-weight: 700;
              }

              button {
                float: right;
                margin-left: 2px;
                margin-right: 10px;
                cursor: pointer;
                outline: none;
                border: none;
                background-color: #fff;
              }
            }
          }
        }

        .comment-input-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 80px;
          margin-top: 20px;
          padding: 4px 16px 4px 16px;
          border-top: 1px solid #dbdbdb;

          div {
            font-size: 24px;
            margin-right: 16px;
          }

          form {
            display: flex;
            align-items: center;
            margin-top: 10px;
          }

          input {
            height: 35px;
            width: 500px;
            margin-bottom: 10px;
            padding-top: 6px;
            border: none;

            &:focus {
              outline: none;
            }
          }
          button {
            width: 40px;
            border: none;
            background-color: #fff;
            color: #0095f6;
            cursor: pointer;

            &:disabled {
              opacity: 0.3;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .main-right {
    position: fixed;
    width: 290px;
    margin-top: 25px;
    margin-left: 40px;
    background-color: var(--all_background_color);

    button {
      border: none;
      background-color: var(--all_background_color);
    }

    .my-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;

      div {
        display: flex;
        align-items: center;
      }

      img {
        height: 55px;
        width: 55px;
        margin-right: 25px;
        border-radius: 50%;
      }

      button {
        color: var(--main_recommend_follow_text_color);
      }
    }

    .suggest {
      padding-left: 10px;

      .suggest-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        span {
          color: #8e8e8e;
        }

        button {
          font-weight: 700;
        }
      }

      ul {
        li {
          margin-top: 20px;

          .suggest-profile {
            display: flex;
            justify-content: space-between;

            .suggest-profile__img {
              height: 32px;
              width: 32px;
              border-radius: 50%;
            }

            div {
              display: flex;
              flex-direction: column;

              span {
                font-size: 12px;
              }
            }

            button {
              color: var(--main_recommend_follow_text_color);
            }
          }
        }
      }
    }

    footer {
      margin-top: 35px;
      margin-left: 10px;
      text-align: center;
      font-size: 11px;
      color: var(--all_footer_text_color);

      div {
        margin-top: 20px;
      }
    }
  }
}

@include tablet {
  .main-myung {
    display: flex;
    justify-content: center;
    background-color: var(--all_background_color);
  }

  .main-myung main {
    width: 758px;
    padding: 2px;
  }

  .main-myung main .feeds-container {
    justify-content: center;
  }

  .main-myung main .feeds-container .feeds .story {
    margin-top: 0px;
  }

  .main-right {
    display: none;
  }
}

@include mobile {
  .main-myung main .feeds-container {
    justify-content: center;
    align-items: stretch;
  }

  .main-myung main .feeds-container .feeds {
    background-color: var(--all_background_color);
  }

  .main-myung main .feeds-container .feeds .story {
    margin-top: 0px;
  }

  .main-right {
    display: none;
  }
}
